@font-face {
  font-family: "iconfont"; /* Project id 3209289 */
  src: url('iconfont.woff2?t=1661936725711') format('woff2'),
       url('iconfont.woff?t=1661936725711') format('woff'),
       url('iconfont.ttf?t=1661936725711') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanchuan:before {
  content: "\e71b";
}

.icon-zhongguojie:before {
  content: "\e6a0";
}

.icon-wenjian:before {
  content: "\e631";
}

.icon-wenjianshangchuan:before {
  content: "\e616";
}

.icon-wenjianjia:before {
  content: "\e604";
}

.icon-taiyang:before {
  content: "\e635";
}

.icon-shuji:before {
  content: "\e630";
}

.icon-jilu:before {
  content: "\e61d";
}

.icon-gufengwujianzhongguofengwenfangsibaoyantaimoyan_huaban_huaban:before {
  content: "\e62f";
}

.icon-yanhua:before {
  content: "\e673";
}

.icon-youxuanxiangmushijingzhanshi:before {
  content: "\e621";
}

.icon-kaifang:before {
  content: "\e7b2";
}

.icon-gufengwujianzhongguofengzhujian_huaban_huaban_huaban:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e8ba";
}

